<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Confirmation</title>


</head>
<body>

    <div>
        <header>Tapduc</header>

        <video class="run" autoplay loop>
           <source src="running.mp4"  type="video/mp4">
           
        </video>

        <video class="push" autoplay loop>
            <source src="workout.mp4" type="video/mp4">

        </video>
        
        <img src="tapduc.PNG" class="logo">
    </div>

    <div class="relative">
       <a class="btn" href="/home#About" >About Tapduc</a>
        <a class="btn" href="/team">The Team</a>
        <a class="btn" href="/contact">Contact Us</a>
        <a class="btn" href="/interest">Interested?</a>
    
    </div>
    <body>

<h1 style="left: 650px;top: -350px;position: relative;">Form Submitted</h1>

</body>