<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Tapduc</title>


</head>
<body>

    <div>
        <header>Tapduc</header>

        <video class="run" autoplay loop>
           <source src="running.mp4"  type="video/mp4">
           
        </video>

        <video class="push" autoplay loop>
            <source src="workout.mp4" type="video/mp4">

        </video>
        
        <img src="tapduc.PNG" class="logo">
    </div>

    <div class="relative">
        <a class="btn" href="#About" >About Tapduc</a>
        <a class="btn" href="/team">The Team</a>
        <a class="btn" href="/contact">Contact Us</a>
        <a class="btn" href="/interest">Interested?</a>
    </div>
    
  

      
      

    <div class="question">
        <h1   class="fade-in-text">Tired of Working Out to Music that Doesn't Match Your Energy?</h1>
        <br>
        <img src="biometrics.jpg" >
    </div>

 


    

    <div class="about">
        <h2 id="About">Tapduc? What even is it?</h2>

        <br>
        <p>Tapduc derives from the Vietnamese phrase for "Workout". But besides that, Tapduc is a lifestyle and fitness app that creates the connection with the user’s heart rate and a song’s beats per minute to create a playlist that queues songs based on the user’s exertion.

            It uses the heart rate to find a song that closely matches to the heart rate of the user to keep them motivated throughout their physical activity as well as provide a seamless and hands-free fitness experience.</p>
            <br>
           <p><strong><em>Work Harder and Smarter</em></strong></p>

           <p>
        <br> Tapduc is currently has an Alpha version that was demonstrated Bradley University's Big Idea Competition Trade Show on March 23, 2023 in the Peplow Pavilion at Hayden-Clark Alumni Center. Tapduc concluded Bradley University's Big Idea Competition on 
         April 24, 2023 and placed 3rd place out of 25 teams. There is plans to continue the production of Tapduc to make it available for Beta testing in the near future with hopes to make Tapduc available for all users across the world.
    <br>Besides the core function of Tapduc, there is plans to implement additional features provide an exceptional experience to all users. </p>
</div>

<div class="demoContainer">
    <img src="3rdPlace.jpg" class="pic1">
    <img src="tradeshow.jpg" class="pic2">

    </div>

    <a href="#top" class="stt" title="scroll to top"></a>



    
</body>
</html>