<link rel="stylesheet" href="stylesheet.css">
<h1 class="green">Searched User</h1>
<p>First Name:<%=data[0].firstName%></p>
<p>Last Name:<%=data[0].lastName%></p>
<p>Email: <%=data[0].Email%></p>
<p>Phone Number: <%=data[0].phoneNum%></p>

<br /><br />

<form action="/admin">
  <button>Return to Admin Homepage</button>
</form>
