<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Tapduc</title>


</head>
<body>

    <div>
        <header>Tapduc</header>

        <video class="run" autoplay loop>
           <source src="running.mp4"  type="video/mp4">
           
        </video>

        <video class="push" autoplay loop>
            <source src="workout.mp4" type="video/mp4">

        </video>
        
        <img src="tapduc.PNG" class="logo">
    </div>

    <div class="relative">
        <a class="btn" href="/home#About" >About Tapduc</a>
        <a class="btn" href="/team">The Team</a>
        <a class="btn" href="/contact">Contact Us</a>
        <a class="btn" href="/interest">Interested?</a>
    </div>
    

    <div class="team">
        <h2 id="Team" >Tapduc Team</h2>

        <p>The Tapduc team consists of four members which are: Adrianna Gonnella, Sawyer Good, Sebastian Perez, and McKeegan Curran-Seijo. The team is a collection of students are studying Computer Information Systems, Engineering, and Dietetics at Bradley University. 
            This team was brought together with the passion for fitness and the idea for Tapduc was created in an entrepreneurship class.
        </p>

    </div>
    <div class="demoContainer">
        <img src="TradeShowGroup.jpg" class="pic3">
    
        </div>  
        <a href="#top" class="stt" title="scroll to top"></a>  
</body>
</html>